In [24]:
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option("display.max_columns", None)
sns.set_style("whitegrid")

In [3]:
df = pd.read_csv("data/eda_data.csv")

In [4]:
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,22,female,2,own,little,moderate,5951,48,radio/TV,bad
1,1,45,male,2,free,little,little,7882,42,furniture/equipment,good
2,2,53,male,2,free,little,little,4870,24,car,bad
3,3,35,male,3,rent,little,moderate,6948,36,car,good
4,4,28,male,3,own,little,moderate,5234,30,car,bad

In [5]:
df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [6]:
features = ["Age", "Sex", "Job", "Housing", "Saving accounts", "Checking account", "Credit amount", "Duration"]

In [7]:
target = "Risk"

In [8]:
df_model = df[features + [target]].copy()

In [9]:
df_model.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Risk
0,22,female,2,own,little,moderate,5951,48,bad
1,45,male,2,free,little,little,7882,42,good
2,53,male,2,free,little,little,4870,24,bad
3,35,male,3,rent,little,moderate,6948,36,good
4,28,male,3,own,little,moderate,5234,30,bad

In [11]:
from sklearn.preprocessing import LabelEncoder
import joblib

In [12]:
cat_cols = df_model.select_dtypes(include="object").columns.drop("Risk")

In [13]:
le_dict = {}

In [14]:
cat_cols

Index(['Sex', 'Housing', 'Saving accounts', 'Checking account'], dtype='object')

In [15]:
for col in cat_cols:
    le = LabelEncoder()
    df_model[col] = le.fit_transform(df_model[col])
    le_dict[col] = le
    joblib.dump(le, f"{col}_encoder.pkl")

In [16]:
le_target = LabelEncoder()

In [17]:
df_model[target] = le_target.fit_transform(df_model[target])

In [20]:
df_model[target].value_counts()

Risk
1    291
0    231
Name: count, dtype: int64

In [21]:
joblib.dump(le_dict, f"{target}_encoder.pkl")

['Risk_encoder.pkl']

In [25]:
df_model.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Risk
0,22,0,2,1,0,1,5951,48,0
1,45,1,2,0,0,0,7882,42,1
2,53,1,2,0,0,0,4870,24,0
3,35,1,3,2,0,1,6948,36,1
4,28,1,3,1,0,1,5234,30,0

In [26]:
df_model.to_csv("data/prepared_data.csv", index=False)